body{
    margin: 0;
    padding: 0;
    background: rgba(214, 212, 212, 0.904);
}

.tela{
    width: 50%;
    height: 60vh;
    background: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(2, 47, 196);
    margin: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    justify-content:space-between;
}
@media(max-width:800px){
    .tela{
        width: 80%;
    }
}

#titulo{
    color: blue;
    text-align: center;
}
#ncadastro{
    width: 30%;
    margin: 0rem 3rem;
    font-size: 20px;
    border:1px solid blue;
    border-radius: 10px;
    height: 2rem;
    letter-spacing: 6px;
    text-align: center;
}
.cadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: center;
    gap: 20px;
}  
.cadastro label{
    color: blue;
    margin: auto;
}  
#codrenova{
    width: 60%;
    margin: 0rem 2rem;
    font-size: 20px;
    border-radius: 10px;
    height: 2rem;
    text-align: center;
}
#codemergencia{
    width: 60%;
    margin: 0rem 2rem;
    font-size: 20px;
    border-radius: 10px;
    height: 2rem;
    text-align: center;
}
#btn{
    background: red;
    color: white;
    width: 30%;
    height: 60px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 3px rgb(110, 2, 2);
}

